In [ ]:
import pandas as pd
fake_news_1 = fake_news.iloc[:7800,:]
fake_news_2 = fake_news.iloc[7800:15600,:]
fake_news_3 = fake_news.iloc[15600:,:]
fake_news_1.to_csv('data/Kaggle/fake_news_1.csv', index=False)
fake_news_2.to_csv('data/Kaggle/fake_news_2.csv', index=False)
fake_news_3.to_csv('data/Kaggle/fake_news_3.csv', index=False)

In [1]:
import pandas as pd
import numpy as np
import re
import spacy


fake_news_title = pd.read_csv('data/Kaggle/fake_news_emo_title.csv')
fake_news_1 = pd.read_csv('data/Kaggle/fake_news_emo_1.csv')
fake_news_2 = pd.read_csv('data/Kaggle/fake_news_emo_2.csv')
fake_news_3 = pd.read_csv('data/Kaggle/fake_news_emo_3.csv')
fake_news = pd.concat([fake_news_1, fake_news_2, fake_news_3])
fake_news = fake_news.reset_index(drop=True)
fake_news['emo_words_title'] = fake_news_title['emo_words_title']
true_news = pd.read_csv('data/Kaggle/true_news_emo.csv')

In [2]:
fake_news.shape, true_news.shape

((23481, 7), (21417, 6))

In [1]:
44685/(23481+21417)

0.9952559134037151

In [3]:
import ast
true_news['emo_words_title'] = true_news['emo_words_title'].apply(lambda d: ast.literal_eval(d))
true_news['emo_words_text'] = true_news['emo_words_text'].apply(lambda d: ast.literal_eval(d))
fake_news['emo_words_title'] = fake_news['emo_words_title'].apply(lambda d: ast.literal_eval(d))
fake_news['emo_words_text'] = fake_news['emo_words_text'].apply(lambda d: ast.literal_eval(d))

In [4]:
emos = ['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust', 'positive', 'negative']

for emo in emos:
    true_news[emo] = true_news.apply(lambda ew: ew['emo_words_title'][emo]+ew['emo_words_text'][emo], axis=1)
    fake_news[emo] = fake_news.apply(lambda ew: ew['emo_words_title'][emo]+ew['emo_words_text'][emo], axis=1)

In [5]:
fake_news.head()

,index,title,text,subject,date,emo_words_text,emo_words_title,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,positive,negative
0,0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017","{'anger': 6, 'anticipation': 11, 'disgust': 5,...","{'anger': 0, 'anticipation': 0, 'disgust': 0, ...",6,11,5,4,10,6,5,16,25,14
1,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017","{'anger': 3, 'anticipation': 4, 'disgust': 7, ...","{'anger': 1, 'anticipation': 1, 'disgust': 1, ...",4,5,8,1,2,3,3,13,13,11
2,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017","{'anger': 11, 'anticipation': 12, 'disgust': 7...","{'anger': 1, 'anticipation': 1, 'disgust': 1, ...",12,13,8,15,3,15,6,17,15,33
3,3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017","{'anger': 0, 'anticipation': 2, 'disgust': 2, ...","{'anger': 0, 'anticipation': 0, 'disgust': 0, ...",0,2,2,4,2,5,3,7,9,10
4,4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017","{'anger': 1, 'anticipation': 13, 'disgust': 2,...","{'anger': 0, 'anticipation': 0, 'disgust': 0, ...",1,13,2,7,14,4,9,11,28,13

In [6]:
special_emos = ['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness', 'surprise', 'trust']
true_news['label'] = 'true'
fake_news['label'] = 'fake'
# fake_news = fake_news.drop('index',axis=1)
news = true_news.append(fake_news)
news['special_emos_sum'] = news[special_emos].sum(axis=1)
news.head()

C:\Users\ChuAI\Anaconda3\envs\pytorch\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,anger,anticipation,date,disgust,emo_words_text,emo_words_title,fear,index,joy,label,negative,positive,sadness,subject,surprise,text,title,trust,special_emos_sum,sub_spec_emos_sum
0,8,14,"December 31, 2017",0,"{'anger': 7, 'anticipation': 14, 'disgust': 0,...","{'anger': 1, 'anticipation': 0, 'disgust': 0, ...",13,NaN,9,true,23,46,14,politicsNews,3,WASHINGTON (Reuters) - The head of a conservat...,"As U.S. budget fight looms, Republicans flip t...",32,93,44
1,10,28,"December 29, 2017",4,"{'anger': 10, 'anticipation': 28, 'disgust': 4...","{'anger': 0, 'anticipation': 0, 'disgust': 0, ...",22,NaN,5,true,17,30,4,politicsNews,2,WASHINGTON (Reuters) - Transgender people will...,U.S. military to accept transgender recruits o...,33,108,45
2,6,13,"December 31, 2017",1,"{'anger': 6, 'anticipation': 13, 'disgust': 1,...","{'anger': 0, 'anticipation': 0, 'disgust': 0, ...",5,NaN,1,true,13,20,3,politicsNews,1,WASHINGTON (Reuters) - The special counsel inv...,Senior U.S. Republican senator: 'Let Mr. Muell...,13,43,16
3,8,7,"December 30, 2017",5,"{'anger': 8, 'anticipation': 7, 'disgust': 5, ...","{'anger': 0, 'anticipation': 0, 'disgust': 0, ...",7,NaN,6,true,13,23,4,politicsNews,0,WASHINGTON (Reuters) - Trump campaign adviser ...,FBI Russia probe helped by Australian diplomat...,14,51,30
4,5,17,"December 29, 2017",1,"{'anger': 5, 'anticipation': 17, 'disgust': 1,...","{'anger': 0, 'anticipation': 0, 'disgust': 0, ...",11,NaN,3,true,25,26,9,politicsNews,0,SEATTLE/WASHINGTON (Reuters) - President Donal...,Trump wants Postal Service to charge 'much mor...,18,64,29

In [7]:
special_emos_dist = ['anger_d', 'anticipation_d', 'disgust_d', 'fear_d', 'joy_d', 'sadness_d', 'surprise_d', 'trust_d']
news = news[news['special_emos_sum']!=0]
news[special_emos_dist] = news[special_emos]
trans = news[special_emos_dist].T/news[special_emos_dist].T.sum()
news[special_emos_dist] = trans.T

In [8]:
news['anger_joy_d'] = news['anger_d'] - news['joy_d']

In [9]:
cols = special_emos_dist+ ['anger_joy_d']

In [10]:
true_news = news[news['label']=='true']
true_news[cols].describe()

,anger_d,anticipation_d,disgust_d,fear_d,joy_d,sadness_d,surprise_d,trust_d,anger_joy_d
count,21397.000000,21397.000000,21397.000000,21397.000000,21397.000000,21397.000000,21397.000000,21397.000000,21397.000000
mean,0.110128,0.142682,0.040615,0.161098,0.079371,0.094944,0.056833,0.314328,0.030757
std,0.072777,0.081873,0.041665,0.098475,0.057825,0.072964,0.049884,0.149499,0.106714
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.500000
25%,0.062500,0.095238,0.000000,0.094118,0.039216,0.050000,0.021505,0.217949,-0.031250
50%,0.107143,0.137931,0.033708,0.153846,0.075000,0.088235,0.050000,0.289855,0.025000
75%,0.153846,0.181818,0.062016,0.220930,0.111111,0.129032,0.081395,0.380952,0.097222
max,1.000000,1.000000,0.750000,1.000000,0.500000,1.000000,1.000000,1.000000,1.000000

In [11]:
fake_news = news[news['label']=='fake']
fake_news[cols].describe()

,anger_d,anticipation_d,disgust_d,fear_d,joy_d,sadness_d,surprise_d,trust_d,anger_joy_d
count,23288.000000,23288.000000,23288.000000,23288.000000,23288.000000,23288.000000,23288.000000,23288.000000,23288.000000
mean,0.123460,0.139370,0.069268,0.156775,0.092397,0.103401,0.070806,0.244522,0.031063
std,0.068788,0.076047,0.053254,0.085568,0.066099,0.064176,0.076174,0.118832,0.113101
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000
25%,0.082803,0.094737,0.033898,0.102564,0.048780,0.065217,0.035088,0.173913,-0.029412
50%,0.122449,0.133333,0.064103,0.152381,0.084848,0.100610,0.060403,0.230769,0.033898
75%,0.162162,0.176471,0.097222,0.203883,0.125000,0.137931,0.089286,0.300000,0.100000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
from scipy.stats import ks_2samp
for col in cols:
    print('{}:{}'.format(col, ks_2samp(true_news[col], fake_news[col])))

anger_d:Ks_2sampResult(statistic=0.10830424792195092, pvalue=4.8739247097376986e-114)
anticipation_d:Ks_2sampResult(statistic=0.03537595172655483, pvalue=1.5121648029407176e-12)
disgust_d:Ks_2sampResult(statistic=0.28598133810884435, pvalue=0.0)
fear_d:Ks_2sampResult(statistic=0.05902882474029314, pvalue=3.5615773893923266e-34)
joy_d:Ks_2sampResult(statistic=0.07603089036695443, pvalue=2.0421502619748054e-56)
sadness_d:Ks_2sampResult(statistic=0.10620878341427387, pvalue=1.1008047013690916e-109)
surprise_d:Ks_2sampResult(statistic=0.10552547104503118, pvalue=2.773734146105459e-108)
trust_d:Ks_2sampResult(statistic=0.22861230879475386, pvalue=0.0)
anger_joy_d:Ks_2sampResult(statistic=0.037786100354350316, pvalue=2.962646940795315e-14)

In [17]:
fake_news[special_emos][fake_news['subject']=='politics'].describe()

,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
count,6718.000000,6718.000000,6718.000000,6718.000000,6718.000000,6718.000000,6718.000000,6718.000000
mean,0.118169,0.139697,0.064166,0.152407,0.092286,0.098310,0.083123,0.251842
std,0.082341,0.092125,0.062314,0.101571,0.080096,0.078259,0.112813,0.146963
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.066667,0.086957,0.019370,0.090909,0.040000,0.049643,0.031250,0.166667
50%,0.116952,0.133333,0.055556,0.145455,0.083333,0.094737,0.062090,0.238095
75%,0.161290,0.181818,0.093256,0.205128,0.129630,0.135802,0.100000,0.317822
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
true_news[special_emos][true_news['subject']=='politicsNews'].describe()

,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
count,11264.000000,11264.000000,11264.000000,11264.000000,11264.000000,11264.000000,11264.000000,11264.000000
mean,0.099586,0.149325,0.038674,0.133300,0.082090,0.094566,0.053668,0.348791
std,0.067019,0.081462,0.039758,0.084015,0.057090,0.078155,0.049166,0.153577
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.054054,0.102564,0.000000,0.076923,0.043478,0.046154,0.019560,0.250000
50%,0.097482,0.144330,0.031746,0.129412,0.077778,0.083333,0.046512,0.323529
75%,0.140890,0.188406,0.058824,0.184211,0.114943,0.127317,0.076923,0.416667
max,0.800000,1.000000,0.600000,1.000000,0.500000,1.000000,1.000000,1.000000